body {
  background-color: #372948;
}

.container {
  text-align: center;
  margin-top: 200px;
}

.btn {
  border: 1px solid black;
  background: white;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 3px;
  transition: 0.8s;
}

.btn1 {
  color: #6fd649;
}

.btn2 {
  color: black;
}

.btn1:hover, .btn2:hover {
  color: #fff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 40%;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 10px;
  color: #333;
}

.popup img {
  width: 60px;
  margin-top: -70px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px 0px 350px;
  border-bottom: 300px;
  padding: 10px 10px;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h1 {
  color: black;
}

.popup p {
  font-size: 20px;
}

.input-conatainer {
  background-color: white;
  height: 350px;
  width: 550px;
  padding-top: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#input {
  font-size: 30px;
  color: #6fd649;
}

.output-container {
  background-color: white;
  height: 150px;
  width: 40%;
  padding-top: 1px;
}

#output {
  font-size: 20px;
  color: black;
}
.full-container{
  height:150px;
  width:100%;
  background-color: white;
}
.first-container{
  height:150px;
  width:150px;
}
.second-container{
  height:150px;
}
